.container {
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.content {
    padding: 10px;
    background-color: lightcyan;
    text-align: justify;
}